name: Playwright

on:
  workflow_dispatch:

jobs:
  run-playwright:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        instance: [1,2,3,4,5,6,7,8,9,10]

    timeout-minutes: 355   # Stops before 6h hard limit

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Install Playwright Chromium
        run: npx playwright install --with-deps chromium

      - name: Run Script
        env:
          INSTANCE_ID: ${{ matrix.instance }}
        run: node init.js
        
